@charset "utf-8";
/* CSS Document */
.ui-ams-lidaytab {
	width:22px;
	heigh:32px;
}

.ui-ams-daytab { 
	font-size:1.5em;
	width:16px; 
	heigh:32px;
	max-width:16px;
	text-align:center;
	
}

.ui-tabs .ui-tabs-nav {
	padding:5px 3px;
}

.ui-ams-input {
	height:15px;
}
.jqplot-table-legend {
	max-width:150px;
}

#daytable {
	padding:2px 2px 2px 2px;
	font-size:1.5em;
	
}